body {
    background-color: #ffff;
    font-style: normal;
    font-weight: normal;
    line-height: 74.938 rem;
    color: #373a3c;
    min-height: 100%;
}

.nav-item {
    align-self: flex-end;
    color: #3d6ded;
    font-size: 1.125rem;
    margin: 0.938rem;
    text-decoration: none;
}

nav li {
    display: inline-block;
    padding: 0.5rem;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #0d0d0d;
}

nav a:visited {
    color: #3d6ded;
}

nav a:hover {
    color: #2a3756;
    font-weight: bold;
}

h1 {
    font-size: 5.263rem;
}

h2 {
    font-size: 5rem;
}

.calculator-title {
    font-size: 4.5rem;
    line-height: 4.938rem;
    position: absolute;
    left: 10.25rem;
    top: 6.25rem;
    width: 42rem;
    height: 4.938rem;
}

p {
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #373a3c;
}

.fibonacci-text {
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #373a3c;
    position: absolute;
    left: 10.563rem;
    top: 14.75rem;
    width: 11.813rem;
    height: 1.5rem;
}

.position-relative {
    position: relative;
}

.btn-calculator {
    font-size: 1rem;
    line-height: 1.313rem;
    text-align: center;
    color: #ffffff;
    width: 2.438rem;
    height: 2.375rem;
    position: absolute;
    left: 29.5rem;
    top: 14.315rem;
}

.input-calculator {
    width: 5.375rem;
    height: 2.375;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    border-radius: 0.25rem;
    position: absolute;
    left: 23.25rem;
    top: 14.313rem;
}

.my-result {
    display: none;
    width: 1.75rem;
    height: 1.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #373a3c;
    position: absolute;
    left: 32.813rem;
    top: 14.75rem;
}

@keyframes load {
    to {
        transform: rotateZ(360deg);
    }
}

.load {
    display: none;
    animation: load 3s linear infinite;
    position: absolute;
    left: 32.813rem;
    top: 14.75rem;
}

.error-msg-50,
.error-msg-42,
.error-msg-0 {
    display: none;
    position: absolute;
    font-size: 1rem;
    line-height: 1.5rem;
}

.error-msg-50 {
    /* display: none;
    position: absolute; */
    width: 11.25rem;
    height: 2.063rem;
    left: 17.375rem;
    top: 17.188rem;
    background: #f2dede;
    border: 1px solid #ebcccc;
    border-radius: 4px;
    /* font-size: 1rem;
    line-height: 1.5rem; */
    color: #a94442;
}

.error-msg-42,
.error-msg-0 {
    /* display: none;
    position: absolute; */
    width: 17.313rem;
    height: 1.5rem;
    left: 32.813rem;
    top: 14.75rem;
    /* font-size: 1rem;
    line-height: 1.5rem; */
    color: #d9534f;
}

.results-title {
    position: absolute;
    width: 11.375rem;
    height: 4.5rem;
    left: 10.25rem;
    top: 21.688rem;
    font-size: 3.375rem;
    color: #373a3c;
}

.results-table {
    position: absolute;
    left: 10.25rem;
    top: 29.938rem;
    font-size: 1.5rem;
    color: #373a3c;
}