body {
    background-color: #eeeeee;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 79px;
    color: #373a3c;
}

h1 {
    font-size: 90px;
}

h2 {
    font-size: 80px;
}

.calculator-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 79px;
    position: absolute;
    width: 672px;
    height: 79px;
    left: 164px;
    top: 100px;
    /* identical to box height, or 110% */
}

p {
    font-size: 24px;
    line-height: 24px;
    color: #373a3c;
}

.fibonacci-text {
    left: 169px;
    top: 236px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #373a3c;
    position: absolute;
    width: 189px;
    height: 24px;
}

.position-relative {
    position: relative;
}

.btn-calculator {
    /* width: 16px;
    height: 21px; */
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    width: 39px;
    height: 38px;
    left: 472px;
    top: 229px;
}

.input-calculator {
    width: 86px;
    height: 38px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    border-radius: 4px;
    position: absolute;
    width: 86px;
    height: 38px;
    left: 372px;
    top: 229px;
}

#milestone3Result {
    position: absolute;
    width: 28px;
    height: 24px;
    left: 525px;
    top: 236px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #373a3c;
}

calculator-card {
    height: 1024px;
}