body {
    background-color: #ffff;
    font-style: normal;
    font-weight: normal;
    line-height: 74.938 rem;
    color: #373a3c;
    min-height: 100%;
}

.nav-item {
    align-self: flex-end;
    color: #3d6ded;
    font-size: 1.125rem;
    margin: 0.938rem;
    text-decoration: none;
}

nav li {
    display: inline-block;
    padding: 0.5rem;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #0d0d0d;
}

nav a:visited {
    color: #3d6ded;
}

nav a:hover {
    color: #2a3756;
    font-weight: bold;
}

h1 {
    font-size: 5.263rem;
}

h2 {
    font-size: 5rem;
}

.calculator-title {
    font-size: 4.5rem;
    line-height: 4.938rem;
    width: 42rem;
    height: 4.938rem;
    margin-top: 6.25rem;
    margin-left: 10.25rem;
}

.fibonacci-calculation {
    margin-left: 10.563rem;
    margin-top: 3.563rem;
}

p {
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #373a3c;
}

.fibonacci-text {
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #373a3c;
    width: 11.813rem;
    height: 1.5rem;
    margin-left: 0.875rem;
}

.btn-calculator {
    font-size: 1rem;
    line-height: 1.313rem;
    text-align: center;
    color: #ffffff;
    width: 2.438rem;
    height: 2.375rem;
    margin-left: 0.875rem;
}

.input-calculator {
    width: 5.375rem;
    height: 2.375rem;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    border-radius: 0.25rem;
    margin-left: 0.875rem;
}

.my-result {
    display: block;
    width: 1.75rem;
    height: 1.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #373a3c;
    margin-left: 0.875rem;
}

@keyframes load {
    to {
        transform: rotateZ(360deg);
    }
}

.load {
    display: none;
    animation: load 3s linear infinite;
}

.error-msg-50,
.error-msg {
    display: none;
    font-size: 1rem;
    line-height: 1.5rem;
}

.error-msg-50 {
    height: 2.063rem;
    margin-left: 7.375rem;
    margin-top: 0.5rem;
    background: #f2dede;
    border: 1px solid #ebcccc;
    border-radius: 4px;
    color: #a94442;
}

.error-msg {
    height: 1.5rem;
    width: 17.313rem;
    left: 32.813rem;
    top: 14.75rem;
    color: #d9534f;
}

.results-title {
    width: 11.375rem;
    height: 4.5rem;
    font-size: 3.375rem;
    color: #373a3c;
    margin-left: 10.25rem;
    margin-top: 5rem;
}

.results-table {
    font-size: 1.5rem;
    color: #373a3c;
    margin-left: 10.25rem;
    margin-top: 3.75rem;
}

.save-calculation-results {
    font-size: 1rem;
    color: #373a3c;
}

.sort-data {
    width: 7.625rem;
    height: 2.375rem;
    background: #e6e6e6;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    border-radius: 4px;
}